html{
    color: rgb(255, 255, 255);
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    justify-content: center;
    width: 100%;
    height: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}