html{
    color: rgb(255, 255, 255);
    background-color: rgb(112, 112, 112);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    width: 100%;
}

.header {
    
    width: 100%;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(70, 68, 68);
}
#headtext {
    justify-content: center;
    align-content: center;
    margin: auto;
    text-align: center;
}

#slider {
    width: 80%;
    height: 40px;
}
#gamebox{
   justify-content: center;
    align-content: center;
    margin: auto;
    text-align: center; 
    background-color: rgb(70, 68, 68);
}

input{
    width: 5rem;
}
#controlls{
    margin-left: 0;
    margin-top: 0;
    left: 0px;
}

#messages{
    display: inline;
    float: right;
    height: 25%;
    overflow-y: scroll;
    background-color: darkgrey;
    
}

