html{
    color: rgb(255, 255, 255);
    background-color: rgb(112, 112, 112);
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    justify-content: center;
    align-content: center;
    margin: auto;
    width: 100%;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(70, 68, 68);
}